<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dante_000.sistemadientes">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Actividad_Principal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lamendin" android:label="Metodo Lamendìn"></activity>
        <activity android:name=".PrinceUberlaker" android:label="Metodo Prince y Ubelaker"></activity>
        <activity android:name=".Ikeda" android:label="Metodo Ikeda"></activity>
        <activity android:name=".DatosPersonaEdad" android:label="Datos"></activity>
        <activity android:name=".DatosPersonaEdadPU" android:label="Datos"></activity>
        <activity android:name=".DatosPersonaEdadI" android:label="Datos"></activity>
        <activity android:name=".Odontograma" android:label="Odontograma"></activity>
        <activity android:name=".OdontogramaAlone" android:label="Odontograma"></activity>
        <activity android:name=".DatosOdontograma" android:label="Estimaciòn de Sexo"></activity>
        <activity android:name=".DatosOdontogramaAlone" android:label="Estimaciòn de Sexo"></activity>
        <activity android:name=".DatosFormato" android:label="Formato"></activity>
        <activity android:name=".DatosFormatoAlone" android:label="Formato"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>